.util__workHiddenHelper {
	width: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	background-color: white;
}
.util__overflowHidden {
	overflow: hidden;
}
.util__visibilityHidden {
	visibility: hidden;
}
.util__visibilityVisible {
	visibility: visible;
}
