//colors
$hero-background-color: rgba(223, 219, 219, 0.808);
$color--primary: #f46b46;
$color--health: #69da4d;
$color--relation: #f44e4e;
$color__work1--background: #f28675;
//grid values
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
