.hero {
	position: relative;
	overflow: hidden;
}
.hero__container {
	padding: 0 5rem;
	display: flex;
	flex-direction: column-reverse;
	background-color: rgb(243, 243, 243);
	height: 100vh;
	@include respond(phone) {
		padding: 0 2rem;
	}
}
.hero__content__container {
	display: flex;
	margin-right: 15rem;
	justify-content: space-between;
	@include respond(phone) {
		margin-right: 0rem;
	}
}
.hero__button {
	margin-top: 2rem;
	&--button {
		cursor: pointer;
		width: 7rem;
		border-radius: 50%;
		height: 7rem;
		outline: none;
		box-shadow: 0.1rem 0.1rem 0.5rem black;
		border: 0.5rem solid $color--primary;
		//border: 0.5rem solid black;
		//border: 0.5rem solid grey;
		background-color: white;
		text-align: center;
		&--arrow {
			&1 {
				margin-bottom: 1rem;
			}
			margin: auto;
			position: relative;
			z-index: 3;
			height: 0rem;
			width: 0.55rem;
			background-color: black;
			border: none;
			outline: none;
			&::before {
				content: "";
				position: absolute;
				width: 0.3rem;
				top: 50%;
				transform: rotate(50deg);
				left: 100%;
				height: 1.5rem;
				//background-color: $color--primary;
				background-color: black;
			}
			&::after {
				content: "";
				position: absolute;
				width: 0.3rem;
				top: 50%;
				transform: rotate(-50deg);
				right: 100%;
				height: 1.5rem;
				//background-color: $color--primary;
				background-color: black;
			}
		}
	}

	&__container {
		align-self: center;
		@include respond(phone) {
			display: none;
		}
	}
}
.hero__intro {
	&__container {
		align-self: center;
		@include respond(phone) {
			align-self: flex-end;
			position: relative;
			z-index: 5;
			margin-bottom: 5rem;
		}
	}
	&--heading {
		text-align: left;
	}
	&--subHeading {
		text-align: left;
	}
	&--image {
		z-index: 3;
		width: 45%;
		height: 50rem;
		@include respond(phone) {
			height: 30rem;
		}
	}
}
