.work {
	background-color: #fff;
	position: relative;
	overflow: hidden;
}
.work__container {
	padding: 0;
	display: flex;
	height: 100vh;
	@include respond(phone) {
		padding: 0;
		flex-direction: column;
	}
}
.work__content__container {
	display: flex;
	justify-content: space-between;
	padding: 0 0 0 15rem;
	width: 100%;
	@include respond(phone) {
		margin-right: 0rem;
		padding: 0;
		flex-direction: column;
	}
}
.work__intro {
	&__container {
		background-color: $color--primary;
		display: flex;
		max-width: 40rem;
		padding: 20rem 0;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		@include respond(phone) {
			position: relative;
			z-index: 5;
			max-width: 100%;
			margin-bottom: 5rem;
			padding: 2rem 0;
			height: 100%;
		}
	}
	&--heading {
		color: white;
		text-align: center;
		letter-spacing: 0.3rem;
		margin-bottom: 5rem;
	}
	&--subHeading {
		color: white;
		text-align: center;
	}
	&--button {
		width: 60%;
		text-align: center;
		border: 0.2rem black solid;
		color: white;
		background-color: transparent;
		font-size: 1.8rem;
		line-height: 0.5rem;
		text-transform: capitalize;
		height: 5rem;
		padding: 2rem 2rem;
		transition: 0.3s;
		&:hover {
			background-color: black;
			color: white;
		}
	}
	&--image {
		z-index: 3;
		align-self: flex-end;
		@include respond(phone) {
			height: 30rem;
		}
	}
}
.work__stripe {
	position: absolute;
	height: 100%;
	width: 123%;

	&--orange {
		top: 90%;
		left: -5%;
		z-index: 1;
		background-color: $color--primary;
		transform: rotate(-10deg);
		@include respond(phone) {
			top: 90%;
			left: 15%;
			z-index: 1;
			background-color: #f46b46;
			transform: rotate(-15deg);
		}
	}
	&--black {
		top: 95%;
		z-index: 2;
		left: -6%;
		transform: rotate(-5deg);
		background-color: black;
		@include respond(phone) {
			top: 95%;
			z-index: 2;
			left: -3%;
			transform: rotate(-10deg);
			background-color: black;
		}
	}
}

.work2 {
	display: flex;

	background-color: white;
	flex-direction: column;
	height: 100vh;
	&__video__container {
		display: flex;
		justify-content: space-around;
		@include respond(phone) {
			flex-direction: column;
		}
	}
	&--video {
		margin-bottom: 1rem;
	}
	&__section2 {
		padding: 5rem 0;
		text-align: center;
		height: 100%;
		@include respond(phone) {
			padding: 2rem 0;
		}
	}
	&__section1 {
		padding: 0 10rem;
		height: 10%;
		background-color: black;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 10%);
	}
	&__section4 {
		padding: 0 10rem;
		height: 10%;
		background-color: $color--primary;
		transform: rotate(180deg);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 10%);
	}
	&__section3 {
		padding: 5rem 0;
		display: flex;
		flex-direction: column-reverse;
		text-align: center;
		height: 100%;
		@include respond(phone) {
			display: none;
		}
	}
}
