<link rel="stylesheet" href="stylesheets/style.css" />
<meta name="google-site-verification" content="h_5E1UUrcBeZaAjCmaLSHqVs142gZlJpt9E7f8y5HiA" />
<title>{{title}}</title>


<div class="home">
    The Saurabh Sharma
</div>

<div class="footer">
    &copy; {{this.date}} by Aarus.
</div>