<link rel="stylesheet" href="/stylesheets/style.css" />
<meta name="google-site-verification" content="h_5E1UUrcBeZaAjCmaLSHqVs142gZlJpt9E7f8y5HiA" />
<title>{{title}}</title>

<section class="navigation">
    <ul>
        <li>
            <a href="#">Home</a>
        </li>

         <li>
            <a href="#">About</a>
        </li>

         <li>
            <a href="#">LOGO</a>
        </li>

         <li>
            <a href="#">Blog</a>
        </li>

         <li>
            <a href="#">Contact</a>
        </li>
        

    </ul>


</section>

<section class="header">

    <div class="row">

        <div class="col-1-of-3" >
        <h1 class="heading-primary">Saurabh Sharma</h1>
        <h3>National Head sales at Cinepolis India</h3>
        </div>

        <div class="col-1-of-3">
        The Saurabh Sharma
        </div>

        <div class="col-1-of-3">
        The Saurabh Sharma
        </div>
    
    </div>

</section>

<div class="footer">
    &copy; {{this.date}} by Aarus.
</div>




