<div class="hero">
    <div class="hero__container">
        <div class="hero__content__container">

            <div class="hero__intro__container">
                <h1 class="hero__intro--heading heading-primary">Saurabh Sharma</h1>
                <p class="hero__intro--subHeading">National Head (Sales) at Cinepolis India</p>
            </div>

            <img class="hero__intro--image" src="/images/hero.png" />

            <div class="hero__button__container">
                <button class="hero__button--button">
                    <div class="hero__button--button--arrow hero__button--button--arrow1"></div>
                    <div class="hero__button--button--arrow"></div>
                </button>
            </div>

        </div>

    </div>
    <div class="hero__stripe hero__stripe--orange">

    </div>
    <div class="hero__stripe hero__stripe--black">

    </div>
</div>
<div class="footer">
    &copy; {{this.date}} by Aarus.
</div>