<!DOCTYPE html>

<head>
    <title>{{title}}</title>
    <meta name="description" content="Raja Raghav is a software engineer and software developer. This is the portfolio of Raja Raghav.">
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="https://www.thesaurabhsharma.com">
    <meta name="Robots" content="index, follow">

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="google-site-verification" content="h_5E1UUrcBeZaAjCmaLSHqVs142gZlJpt9E7f8y5HiA" />
</head>

<body>
    <nav class="navigation">
        <ul>
            <li class="navigation--item">
                <a href="#">Home</a>
            </li>

            <li class="navigation--item">
                <a href="#">About</a>
            </li>

            <li class="navigation--item">
                <a class="navigation__logo" href="#">
                    <img src="/images/logo.png" class="navigation__logo--img" />
                </a>
            </li>

            <li class="navigation--item">
                <a href="#">Blog</a>
            </li>

            <li class="navigation--item">
                <a href="#">Contact</a>
            </li>


        </ul>


    </nav>
    <nav class="navigation__mob">
        <a class="navigation__logo" href="#">
            <img src="/images/logo.png" class="navigation__logo--img" />
        </a>
        <div class="navigation__mob__menu">

        </div>
    </nav>
    {{{body}}}
</body>
{{{reload}}}
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/main.js"></script>

</html>