.profileButton {
	position: fixed;
	right: 0;
	z-index: 115;
	top: 0;
	padding: 5rem 7rem;
	visibility: hidden;
	&--button {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		margin-left: auto;
		margin-bottom: 1rem;
		background: linear-gradient(#ff8a52, #f46b45);
		box-shadow: 0.01rem 0.01rem 0.2rem black;
		border: 0.3rem white solid;
	}
	&__info {
		&__Container {
			min-width: 3rem;
			text-align: center;
		}
		&--text {
			display: inline-block;
			margin-bottom: 0;
			cursor: pointer;
			line-height: 0.1px;
		}
		&--border {
			cursor: pointer;
			&Active {
				width: 1.5rem;
				border-top: 0.5rem solid black;
				display: inline-block;
			}
			&Inactive {
				width: 1rem;
				border-top: 0.4rem solid #777;
				display: inline-block;
				margin-left: 0.5rem;
			}
		}
		&--active {
			color: black;
			font-size: 2rem;
		}
		&--inactive {
			color: #777;
			font-size: 1.6rem;
		}
	}
}
.animated__leftVisible {
	animation: animation__leftVisible 0.5s;
	animation-fill-mode: forwards;
}
.animated__rightInvisible {
	visibility: hidden;
}
