.stripe {
	position: absolute;
	width: 80%;
	right: 0;
	&--orange {
		top: 80%;
		height: 20%;
		z-index: 1;
		background-color: $color--primary;
		clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
		@include respond(phone) {
			top: 90%;
			z-index: 1;
			clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 100%);
			background-color: #f46b46;
		}
	}
	&--black {
		top: 90%;
		z-index: 2;
		height: 20%;
		clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
		background-color: black;
		@include respond(phone) {
			top: 95%;
			z-index: 2;
			clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
			background-color: black;
		}
	}
}
